<html>
  <head><title>ConjugQuiz - Test your knowledge of Verb Conjugations.</title></head>
  <body>
    <h1>Welcome to ConjugQuiz</h1>
    <ul>
      <a href="/new/quiz">Start a new quiz</a>
    </ul>
  </body>
</html>

