<html>
  <head>
    <title>Loading Prototype and viewing the loaded version</title>
    <script type="text/javascript" src="/js/prototype.js"></script>
    <script type="text/javascript"><%= @function %></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
