<html>
  <head>
    <title>Welcome to ConjugQuiz!!</title>
    <script type="text/javascript" src="/js/prototype.js"></script>
    <%= @custom_js %>
  </head>
  <body>
    <%= yield %>
  </body>
  <a href="/logout">logout</a>
</html>
