<form action="/new/verb" method="POST">
  <p> <%= @message %><p/>
  Verb name: 
  <br />
  <input type="text" name="verb_name" id="verb_name"/><br /><br />

  Meaning: 
  <br />
  <input type="text" name="verb_meaning" id="verb_meaning"/><br /><br />

  <input type="submit" name="submit" value="Add Verb"><br /><br />
</form>

<a href="/new/conjugation">create a new conjugation</a>
