<form action="/new/conjugation" method="POST">
  Verb name: 
  <br />
  <select name="verb_id" id="verb_id" onchange="checkConjugation()">
    <% @verbs.each do |v| %>
      <option value="<%= v.id %>"><%= v.name %></option>
    <% end %>
  </select><br /><br />

  Person: 
  <br />
  <select name="person" id="person" onchange="checkConjugation()">
    <option value="1st">1st person</option>
    <option value="2nd">2nd person</option>
    <option value="3rd">3rd person</option>
  </select><br /><br />

  Singular/Plural:
  <br />
  <select name="singular_plural" id="singular_plural" onchange="checkConjugation()">
    <option value="singular">singular</option>
    <option value="plural">plural</option>
  </select><br /><br />

  Conjugation name: 
  <br />
  <input type="text" name="conjug_name" id="conjug_name"></input><br /><br />

  <input type="submit" name="submit" value="Add Conjugation"><br /><br />
</form>

<a href="/new/verb">create a new verb</a>
