<form action="/verb/create" method="POST">
  <input type="text" name="name" id="name">
  <select name="person">
    <option value="1st"/> 1st Person
    <option value="2nd"/> 2nd Person
    <option value="3rd"/> 3rd Person
</form>
