<form action="/new/quiz" method="POST">
  <p> <%= @question_one %>
  <input type="text" name="question_one" id="question_one"/><p/>

  <input type="submit" value="Check Answers"><br /><br />
</form>

<a href="/">go home</a>

